body {
    background-color: #ffff;
    color: #292b2b;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    margin-bottom: 2rem;
}

p {
    text-align: left;
}

h1 {
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

h2, h3, h5{
    color: #191a19;
    text-align: left;
    margin-top: 20px;
}


button {
    background-color: #007bff;
    color: #ffff;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    margin-right: 10px;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover {
    background-color: #d9edff;
    color: #191a19;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
